* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto';
    font-weight: 400;
    background-color: #14213d;
    color: #FFFFFF;
    font-size: 20px;
}

h1 {
    color: #fca311;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
}

h2 {
    font-weight: 300;
}

.indice-style {
    color: #fff;
    font-weight: 400; 
    text-decoration: none; 
                                                   
}

.dev-photo {
    border-radius: 100%;
       
}

.title-decoration {
    font-weight: 600;
    color: #fca311;
    letter-spacing: 2px;
    font-size: 40px;
}

.skills-text {
    line-height: 30px;
    font-style: italic;
    font-weight: 400;
    list-style: none;
}

.description-style {
    font-weight: 300;
}

#dev-name {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

#about-container {
    border-top: 1px solid white;
    padding: 30px 0 30px 0;
}

.about-me-img{
    display: inline-block;
    width: 45%;
    text-align: center;
    
}

.about-me {
    display: inline-block;
    width: 45%;
    float: right;
    padding-top: 5%;
    padding-right: 7%;
    padding-left: 2%;
    text-align: center;
    line-height: 30px;   
}

#my-skills {
    border-top: 1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    
}

#indice-container {
    border-top: 1px solid white;
    padding-top: 30px;
}

#indice {
    text-align: center;
}